<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Messaging App P2P</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <script src="js/forge.min.js"></script>
  </head>
  
  <body>
    <div class="Title">
      Inlook
      <input
        type="searching"
        id="search"
        onkeyup="search()"
        placeholder="Search an email or an address"
      />
      &#128269;
    </div>

    <div class="Toolbar">
      <button class="New_Message" onclick="NewMail()">New Mail</button>
      <button class="Refresh" onclick="getMessages()">Refresh</button>
    </div>

    <div class="Drop_menu">
      <label for="Mail"></label>
      <select name="Option_menu" id="Option_menu" oninput="Drop_menu();">
        <option value="Inbox">Inbox</option>
        <option value="Emails sent">Sent</option>
      </select>
    </div>

    <div class="Email_form">
      <div id="form" style="display: none">
        <label for="Address">To:</label><br />
        <input type="text" id="Address" name="Address" /><br />
        <label for="Title">Subject:</label><br />
        <input type="text" id="Title" name="Title" /><br />
        <label for="Content">Content:</label><br />
        <textarea id="Content" name="Content" rows="19" cols="111"> </textarea
        ><br />
      </div>
    </div>

    <div class="Emails">
      <div class="list" id="Received">
        <!-- Where received messages will be displayed -->
      </div>

      <div class="list" id="Sent">
          <!-- Where sent messages will be displayed -->
      </div>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
