<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Messagerie Web</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <script src="js/forge.min.js"></script>
</head>
<body style="height:100%;overflow: hidden;">
  <div class ="Titre">
    Inlook
    
    <input type="search"
    id="recherche"; 
    onkeyup="recherche()"
    style="padding:15px;
    border-width: 3px;
    border-color:blue;
    border-radius: 10px;
    vertical-align: middle;
    width:80%"
    placeholder="Search emails";>
    &#128269;
  </div>

  <div class="Toolbar">
    <button class="Nouveau_Message" onclick="NewMail()">
      
      New Mail
    </button>
  </div>
  
  <div class="Drop_menu">
      <label for="Boite"></label>
      <select name="Option_menu" id="Option_menu" oninput="Drop_menu();" style="padding: 10px; background:#5ea9f4; width: 100%;height: 105%;border-radius: 5px;">
        <option value="Boite de réception">Inbox</option>
        <option value="Emails envoyés">Sent</option>
      </select>
  </div>

  <div class="Aperçu_email">
    <div id="formulaire" style="display:none;">
      <label for="Adresse">To:</label><br>
      <input type="text" id="Adresse" name="Adresse"
      style ="width:98%; margin-left: 5px;"><br>
      <label for="Titre">Subject:</label><br>
      <input type="text" id="Titre" name="Titre"
      style ="width:98%; margin-left: 5px;">
      <label for="Contenu">Content:</label><br>
      <textarea style="margin-left:5px;" id="Contenu" name="Contenu" rows="19" cols="111">
      </textarea><br>
      <button style="margin-left: 5px; height:27px;" onclick="addMail()">
       Send &rArr;
      </button>
      <button style="height: 27px; margin-top: 8px;" onclick="deleteMail()">
       Cancel &#10007;
      </button>
    </div>
 </div>

  <div class="Courriels">
    <div class="liste" id="Recu">
      <a></a>
      <p style="display:none">Content</p>
    </div>

    <div class="liste" id="Envoyes">
      <div class="Carte">
       <a></a>
       <p style="display:none">Content</p>
      </div>
    </div>
  </div>  

  <script src="js/script.js"></script>

</body>
</html>